.brand{
    background: #cbb09c !important;
}
.brand-text{
    color: #cbb09c !important;
}
form{
    max-width: 460px;
    margin: 20px auto;
    padding: 20px;
}
input[name='email'] + div{
    background-color: greenyellow !important;
}